@import "./base/fondations";
@import "./utils/variables";
@import "./utils/mixin";

header {
  text-align: center;
  background-color: $gris-pale;

  h1 {
    font-family: "shrikhand";
    background-color: white;
    margin: 0px;
    margin-bottom: 2px;
    padding: 10px;
    @include box-shadow(lighten($gris-fonce, 50%));
  }
  .adresse {
    &:focus {
    }
    background-color: $gris;
    padding: 0.5em 0em;
    font-weight: 700;
    &__input {
      border: none;
      background-color: $gris;
      padding: 10px;
    }
  }

  .reservez-menu__bouton {
    @include bouton-principale();
  }
}

// ------ MAIN ------

// SECTION FOCNTIONNEMENT
main {
  .fonctionnement {
    padding: $padding-container;
    @include style-bouton-fonctionnement();
  }

  // SECTION CARTES RESTAURANTS
  .container-restaurants {
    background-color: $gris-pale;
    padding: $padding-container;
    a,
    a:visited {
      color: black;
    }

    @include style-carte-restaurant();
  }
}
// FIN MAIN

footer {
  @include style_footer();
}
