@import "./base/fondations";
@import "./utils/variables";
@import "./utils/mixin";

header {
  text-align: center;
  background-color: $gris-pale;

  h1 {
    font-family: "shrikhand";
    background-color: white;
    margin: 0px;
    margin-bottom: 2px;
    padding: 10px;

    @include box-shadow(lighten($gris-fonce, 50%));
  }
  .adresse {
    background-color: $gris;
    padding: 0.5em 0em;
    font-weight: 700;
  }

  .reservez-menu__bouton {
    background-image: linear-gradient(to bottom right, $secondaire, $primaire);
    border-radius: 25px;
    padding: 15px 20px;
    border: 0px;
    margin-bottom: 40px;
    color: white;
    font-weight: 700;
  }
}

// ------ MAIN ------

// SECTION FOCNTIONNEMENT
main {
  .fonctionnement {
    padding: $padding-container;
    @include style-bouton-fonctionnement();
  }

  // SECTION CARTES RESTAURANTS
  .container-restaurants {
    background-color: $gris-pale;
    padding: $padding-container;
    a,
    a:visited {
      color: black;
    }

    @include style-carte-restaurant();
  }
}
// FIN MAIN

footer {
  @include style_footer();
}
