body {
  margin: 0;
  font-family: "roboto", sans-serif;
}

img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

span {
  display: block;
}

a {
  text-decoration: none;
}

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1440deg);
            transform: rotate(1440deg);
  }
}

@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1440deg);
            transform: rotate(1440deg);
  }
}

@-webkit-keyframes spinner-background {
  from {
    z-index: 2;
    opacity: 0.8;
  }
  95% {
    opacity: 0.8;
  }
  to {
    opacity: 0;
    z-index: 2;
  }
}

@keyframes spinner-background {
  from {
    z-index: 2;
    opacity: 0.8;
  }
  95% {
    opacity: 0.8;
  }
  to {
    opacity: 0;
    z-index: 2;
  }
}

header {
  text-align: center;
  background-color: #f2f2f2;
}

header .loading-spinner {
  position: absolute;
  content: " ";
  background-color: white;
  height: 100vh;
  width: 100%;
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity;
  transition: opacity;
  -webkit-animation: spinner-background 2000ms;
          animation: spinner-background 2000ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .loading-spinner__circle {
  width: 100px;
  height: 100px;
  border: solid 30px black;
  border-radius: 50%;
  border-right: solid 30px white;
  border-left: solid 30px white;
  -webkit-animation: spinner 2000ms ease-in-out;
          animation: spinner 2000ms ease-in-out;
}

header h1 {
  font-family: "shrikhand";
  background-color: white;
  margin: 0px;
  margin-bottom: 2px;
  padding: 10px;
  -webkit-box-shadow: 2px 2px 5px #b8b8b8;
          box-shadow: 2px 2px 5px #b8b8b8;
}

header .adresse {
  background-color: #dfdfdf;
  padding: 0.5em 0em;
  font-weight: 700;
}

header .adresse__input {
  background-color: #dfdfdf;
  padding: 10px;
  border: none;
}

header #home-page {
  margin-bottom: 100px;
}

header .reservez-menu__bouton {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ff79da), to(#9356dc));
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
  border-radius: 25px;
  padding: 15px 20px;
  border: 0px;
  margin-bottom: 40px;
  color: white;
  font-weight: 700;
  width: 60%;
  cursor: pointer;
  postition: relative;
  -webkit-box-shadow: 2px 2px 5px #383838;
          box-shadow: 2px 2px 5px #383838;
  -webkit-transition: -webkit-box-shadow 200ms;
  transition: -webkit-box-shadow 200ms;
  transition: box-shadow 200ms;
  transition: box-shadow 200ms, -webkit-box-shadow 200ms;
}

header .reservez-menu__bouton:hover {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ff93e1), to(#a16be0));
  background-image: linear-gradient(to bottom right, #ff93e1, #a16be0);
  -webkit-box-shadow: 2px 2px 10px #383838;
          box-shadow: 2px 2px 10px #383838;
}

main .fonctionnement {
  background-color: white;
  padding: 30px 20px;
}

main .fonctionnement__bouton {
  text-align: center;
  position: relative;
  margin-bottom: 20px;
}

main .fonctionnement__bouton span {
  background-color: #9356dc;
  padding: 3px 7px;
  border-radius: 50%;
  color: white;
  position: absolute;
  left: 0px;
  top: 17px;
}

main .fonctionnement__bouton i {
  position: absolute;
  left: 12%;
  top: 20px;
}

main .fonctionnement__bouton i:hover {
  color: #9356dc;
}

main .fonctionnement__bouton button {
  width: 95%;
  padding: 20px;
  border: none;
  border-radius: 20px;
  font-weight: 700;
  -webkit-box-shadow: 2px 2px 5px #dfdfdf;
          box-shadow: 2px 2px 5px #dfdfdf;
}

main .fonctionnement__bouton button:hover {
  background-color: #e4d5f6;
}

main .container-restaurants {
  background-color: #f2f2f2;
  padding: 30px 20px;
}

main .container-restaurants a,
main .container-restaurants a:visited {
  color: black;
}

main .container-restaurants .carte-restaurant {
  margin-bottom: 20px;
  position: relative;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 15px;
  height: 200px;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 5px #dfdfdf;
          box-shadow: 2px 2px 5px #dfdfdf;
}

main .container-restaurants .carte-restaurant img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 75%;
}

main .container-restaurants .carte-restaurant__text {
  width: 80%;
  padding: 5px 15px;
}

main .container-restaurants .carte-restaurant__text span:first-child {
  font-weight: bold;
}

main .container-restaurants .carte-restaurant__heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

main .container-restaurants .carte-restaurant__heart .heart-size {
  font-size: 20px;
}

main .container-restaurants .carte-restaurant__heart .full {
  position: absolute;
  opacity: 0;
  background: -webkit-gradient(linear, left top, right bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: opacity 400ms;
  transition: opacity 400ms;
}

main .container-restaurants .carte-restaurant__heart .full:hover {
  opacity: 1;
}

main .container-restaurants .carte-restaurant__nouveau {
  position: absolute;
  left: 65%;
  top: 7%;
  padding: 5px 10px;
  background-color: #99e2d0;
  color: #278870;
  font-weight: bold;
  border-radius: 3px;
}

@-webkit-keyframes apparition-menu {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes apparition-menu {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

body {
  position: relative;
  background-color: #f2f2f2;
}

.top__home {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.top__home a {
  width: 5%;
  padding-left: 25px;
  color: black;
}

.top__home h1 {
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-left: 0px;
}

.top__image {
  max-height: 300px;
}

main {
  background-color: #f2f2f2;
  position: relative;
  top: -50px;
  padding: 30px 20px;
  padding-top: 10px;
  border-radius: 25px;
}

main section.menu:nth-child(1) {
  -webkit-animation: apparition-menu 1500ms 200ms both;
          animation: apparition-menu 1500ms 200ms both;
}

main section.menu:nth-child(2) {
  -webkit-animation: apparition-menu 1500ms 400ms both;
          animation: apparition-menu 1500ms 400ms both;
}

main section.menu:nth-child(3) {
  -webkit-animation: apparition-menu 1500ms 600ms both;
          animation: apparition-menu 1500ms 600ms both;
}

main section.menu:nth-child(4) {
  -webkit-animation: apparition-menu 1500ms 800ms both;
          animation: apparition-menu 1500ms 800ms both;
}

main section.menu:nth-child(5) {
  -webkit-animation: apparition-menu 1500ms 1000ms both;
          animation: apparition-menu 1500ms 1000ms both;
}

main section.menu:nth-child(6) {
  -webkit-animation: apparition-menu 1500ms 1200ms both;
          animation: apparition-menu 1500ms 1200ms both;
}

main section.menu:nth-child(7) {
  -webkit-animation: apparition-menu 1500ms 1400ms both;
          animation: apparition-menu 1500ms 1400ms both;
}

main section.menu:nth-child(8) {
  -webkit-animation: apparition-menu 1500ms 1600ms both;
          animation: apparition-menu 1500ms 1600ms both;
}

main section.menu:nth-child(9) {
  -webkit-animation: apparition-menu 1500ms 1800ms both;
          animation: apparition-menu 1500ms 1800ms both;
}

.titre-restaurant {
  font-family: "shrikhand";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
  position: relative;
}

.titre-restaurant .heart {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.titre-restaurant .heart .full {
  position: absolute;
  font-size: 20px;
  color: red;
  opacity: 0;
  background: -webkit-gradient(linear, left top, right bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.titre-restaurant .heart .full:hover {
  opacity: 1;
}

.menu__souligner {
  content: "";
  width: 40px;
  border-top: solid 2px #99e2d0;
  margin-bottom: 10px;
}

.menu__carte {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 5px #dfdfdf;
          box-shadow: 2px 2px 5px #dfdfdf;
}

.menu__carte--description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.menu__carte--description div span {
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu__carte--description:hover .check {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.menu__carte--description:hover .check i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.menu__carte--description:hover .prix {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

.menu__carte--description:hover div {
  max-width: 200px;
  margin-right: 60px;
  white-space: nowrap;
}

.menu__carte--description div {
  width: 100%;
}

.menu__carte--description div span:first-child {
  font-weight: bold;
  margin-bottom: 5px;
}

.menu__carte--description div span:nth-child(2) {
  font-size: 13px;
}

.menu__carte--description .prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-weight: bold;
  font-size: 14px;
  width: 50px;
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

.menu__carte--description .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #32d3bd;
  width: 50px;
  height: 100%;
  position: absolute;
  left: 100%;
  top: 0px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

.menu__carte--description .check i {
  color: white;
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

.commander {
  text-align: center;
  margin-top: 40px;
}

.commander button {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ff79da), to(#9356dc));
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
  border-radius: 25px;
  padding: 15px 20px;
  border: 0px;
  margin-bottom: 40px;
  color: white;
  font-weight: 700;
  width: 60%;
  cursor: pointer;
  postition: relative;
  -webkit-box-shadow: 2px 2px 5px #383838;
          box-shadow: 2px 2px 5px #383838;
  -webkit-transition: -webkit-box-shadow 200ms;
  transition: -webkit-box-shadow 200ms;
  transition: box-shadow 200ms;
  transition: box-shadow 200ms, -webkit-box-shadow 200ms;
}

.commander button:hover {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ff93e1), to(#a16be0));
  background-image: linear-gradient(to bottom right, #ff93e1, #a16be0);
  -webkit-box-shadow: 2px 2px 10px #383838;
          box-shadow: 2px 2px 10px #383838;
}

.footer-pages-menu {
  margin-top: -50px;
}

footer {
  color: white;
  background-color: #383838;
  padding: 30px 20px;
}

footer a {
  color: white;
}

footer a:hover {
  color: #9356dc;
}

footer h3 {
  font-family: "shrikhand";
  font-weight: 500;
}
/*# sourceMappingURL=main.css.map */