// Page d'acceuil : home.scss

body {
  @media screen and (min-width: $media-query) {
    width: 80%;
    margin: auto;
  }
}

header {
  text-align: center;
  background-color: $gris-pale;
  @include spinner();
  h1 {
    font-family: "shrikhand";
    background-color: white;
    margin: 0px;
    margin-bottom: 2px;
    padding: 10px;
    @include box-shadow(lighten($gris-fonce, 50%));
  }

  .adresse {
    background-color: $gris;
    padding: 0.5em 0em;
    font-weight: 700;
    &__input {
      background-color: $gris;
      padding: 10px;
      border: none;
    }
    @media screen and(min-width:$media-query) {
      width: 40%;
      margin: auto;
      border-radius: 20px;
      margin-top: 10px;
      @include box-shadow($gris-pale);
    }
  }

  #home-page {
    margin-bottom: 100px;
  }

  .reservez-menu__bouton {
    @include bouton-principale();
  }
}

// SECTION FOCNTIONNEMENT
main {
  .fonctionnement {
    background-color: white;
    padding: $padding-container;
    @include style-bouton-fonctionnement();
    @media screen and(min-width:$media-query) {
      display: flex;
      flex-wrap: wrap;
      border-radius: 15px;
      h2 {
        width: 100%;
      }
      .fonctionnement__bouton {
        width: 100%;
        padding: 0px 20px;
      }
    }
  }

  // SECTION CARTES RESTAURANTS
  .container-restaurants {
    @media (min-width: $media-query) {
      h2 {
        width: 100%;
      }
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-around;
    }
    background-color: $gris-pale;
    padding: $padding-container;
    a,
    a:visited {
      color: black;
    }

    @include style-carte-restaurant(); // dans _mixin.scss
  }
}
