@import "../utils/mixin-cartes-menu";

body {
  position: relative;
  background-color: $gris-pale;
}

// HEADER

.top {
  &__home {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    a {
      width: 5%;
      padding-left: 25px;
      color: black;
    }
    h1 {
      width: 100%;
      box-shadow: none;
      justify-content: start;
      padding-left: 0px;
    }
  }
  &__image {
    max-height: 300px;
  }
}

// MAIN
main {
  @include app-menu();
  background-color: $gris-pale;
  position: relative;
  top: -50px;
  padding: $padding-container;
  padding-top: 10px;
  border-radius: 25px;
}

.titre-restaurant {
  font-family: $font-logo;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  position: relative;
  & .heart {
    font-size: 20px;
    display: flex;
    justify-content: center;

    & .full {
      position: absolute;
      font-size: 20px;
      color: red;
      opacity: 0;
      background: linear-gradient(to bottom right, $secondaire, $primaire);
      -webkit-background-clip: text; // background colle au text
      -webkit-text-fill-color: transparent; //
      transition: 400ms;
      &:hover {
        opacity: 1;
      }
    }
  }
}

// CARTES MENU

.menu {
  &__souligner {
    @include souligner(); // dans _mixin-cartes-menu.scss
  }
  &__carte {
    @include cartes-menu(); // dans _mixin-cartes-menu.scss
  }
}

.commander {
  text-align: center;
  margin-top: 40px;
  button {
    @include bouton-principale(); // dans _mixin.scss
  }
}

.footer-pages-menu {
  margin-top: -50px;
}
