//souligne les titres ENTREES, PLATS ET DESSERTS
@mixin souligner {
  content: "";
  width: 40px;
  border-top: solid 2px $tertiaire;
  margin-bottom: 10px;
}

// CARTES POUR LES MENUS
$transform-time: 500ms;

@mixin cartes-menu {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
  @include box-shadow($gris);
  &--description {
    display: flex;
    justify-content: space-evenly;
    & div span {
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &:hover {
      cursor: pointer;
    }
    &:hover .check {
      transform: translateX(-100%);
      & i {
        transform: rotate(360deg);
      }
    }
    &:hover .prix {
      transform: translateX(-50px);
    }
    &:hover div {
      max-width: 200px;
      margin-right: 60px;
      white-space: nowrap;
    }
    & div {
      width: 100%;
      span:first-child {
        font-weight: bold;
        margin-bottom: 5px;
      }
      span:nth-child(2) {
        font-size: 13px;
      }
    }
    .prix {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      font-weight: bold;
      font-size: 14px;
      width: 50px;
      transition: transform $transform-time;
    }
    .check {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb(50, 211, 189);
      width: 50px;
      height: 100%;
      position: absolute;
      left: 100%;
      top: 0px;
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
      transition: transform $transform-time;

      & i {
        color: white;
        transition: transform $transform-time;
      }
    }
  }
}
