//  MIXIN()

// propriete box-shadow pour boutons et cartes
@mixin box-shadow($shadow-color) {
  box-shadow: 2px 2px 5px $shadow-color;
}

@mixin bouton-principale {
  background-image: linear-gradient(to bottom right, $secondaire, $primaire);
  border-radius: 25px;
  padding: 15px 20px;
  border: 0px;
  margin-bottom: 40px;
  color: white;
  font-weight: 700;
  width: 60%;
  cursor: pointer;
  postition: relative;
  transition: color 200ms;
  &:hover {
    background-image: linear-gradient(
      to bottom right,
      lighten($secondaire, 5%),
      lighten($primaire, 5%)
    );
    color: darken($primaire, 15%);
  }
}

// les styles des boutons de la section .fonctionnement de la page d'acceuil
@mixin style-bouton-fonctionnement {
  &__bouton {
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    span {
      background-color: $primaire;
      padding: 3px 7px;
      border-radius: 50%;
      color: white;
      position: absolute;
      left: 0px;
      top: 17px;
    }
    i {
      position: absolute;
      left: 12%;
      top: 20px;
      &:hover {
        color: $primaire;
      }
    }

    button {
      width: 95%;
      padding: 20px;
      border: none;
      border-radius: 20px;
      font-weight: 700;
      @include box-shadow($gris);
      &:hover {
        background-color: lighten($primaire, 30%);
      }
    }
  }
}

// les styles des cartes de la section .container-restaurant de la page d'acceuil
@mixin style-carte-restaurant {
  .carte-restaurant {
    margin-bottom: 20px;
    position: relative;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    height: 200px;
    cursor: pointer;

    @include box-shadow($gris);
    img {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      height: 75%;
    }

    &__text {
      span:first-child {
        font-weight: bold;
      }
      width: 80%;
      padding: 5px 15px;
    }

    &__heart {
      display: flex;
      align-items: center;
    }
    &__nouveau {
      position: absolute;
      left: 65%;
      top: 7%;
      padding: 5px 10px;
      background-color: $tertiaire;
      color: darken($tertiaire, 40%);
      font-weight: bold;
      border-radius: 3px;
    }
  }
}

// FOOTER

@mixin style_footer {
  color: white;
  background-color: $gris-fonce;
  padding: $padding-container;

  a {
    color: white;
    &:hover {
      color: $primaire;
    }
  }
  h3 {
    font-family: "shrikhand";
    font-weight: 500;
  }
}
